html, body {
	margin: 0;
	padding: 0;
	text-align: center;
}

img#wpstats{visibility:hidden; height:0px;} 

body {
        background: #cccccc;
	font-size: 12px;
	font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Arial, 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, sans-serif;
	padding: 0px 0;
}

#page {
/*	background: #ffffff; */
/*	background: transparent url(images/bottom_v2.jpg) repeat-y top center; */
	background: transparent url(images/bottom_v2.jpg) repeat-y top center;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	width: 1100px;
}

blockquote {
	border-left: 1px solid #e0e0d0;
        border-bottom: 1px solid #e0e0d0;
	padding-left: 15px;
	padding-top: 1px; 
	padding-right: 15px;
	padding-bottom: 3px;
	color: #114422;
	margin: 0px 10px 0px 20px;
/*        background: #efefef;  */
}

#cloudbox {
/*	border-left: 1px solid #555555;
        border-bottom: 1px solid #555555;
        border-right: 1px solid #555555;
        border-top: 1px solid #555555; */
	padding-left: 4px;
	padding-top: 4px; 
	padding-right: 4px;
	padding-bottom: 4px;
        color: #442233;
/*        background: #ffffff; */
	margin: 0px 0px 0px 0px;
        text-align: center;
/*        background: #efefef; */
}

typetext {
	padding-left: 10px;
	margin: 10px 10px 10px 10px;
	color: #550022;
        background: #dddddd;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

pre {
/*        word-wrap: break-word; */
        white-space: pre-wrap;
	color: #550022;
	margin-left: 4px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: courier; 
	font-size: 12px;
	font-weight: normal;
        background: #dddddd;
/*	  margin: 5px; */
/*        background: #efefef; */
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
	width: 97%;
}

a {
	color: #002266;
	text-decoration: underline;
}

code {
/*        word-wrap: break-word; */
	color: #550022;
/*	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px; */
	font-family: courier; 
	font-size: 12px;
	font-weight: normal;
        background: #dddddd;
/*	  margin: 5px; */
/*        background: #efefef; */
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
	width: 97%;
/*	color: #550022;
	text-align: justify;
        font-family: Courier;
	font-size: 12px;
	font-weight: normal;
        background: #eeeeee;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;  */
	width: 100%;
/*        padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px; */
}

h1, h1 a {
	color: #002266;
	letter-spacing: 0.02em;
	font-size: 20px;
	font-weight: normal;
	font-family: Georgia, 'Times New Roman', Times,'Lucida Sans', 'Lucida Sans Unicode', serif;
	margin: 10px 2px 2px 2px;
	padding: 0;
	text-decoration: none;
}

h2, h2 a {
	color: #002255;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.09em;
	margin: 12px 12px 2px 2px;
	padding: 0;
}

h3, h3 a {
	color: #004466;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.09em;
	margin: 17px 2px 17px 2px;
	padding: 0;
}

h4, h4 a {
	color: #002255;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.09em;
	margin: 10px 2px 5px 2px;
	padding: 0;
}

h5, h5 a {
	font-size: 12px;
	color: #660000;
	font-weight: normal;
	font-family: courier;
	margin: 2px 2px 2px 5px;
	padding: 0;
}

h6, h6 a {
	color: #442244;
        text-align: justify;
	font-size: 11px;
        font-weight: normal;
/* 	margin: 8px 8px 2px 2px;
	padding: 0; */
}

img {
	border: none;
}

ol, form {
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.6em;
	text-align: justify;
}

#comment {
	background: #ddddff;
	border: 1px solid #888888;
	color: #595949;
	font-size: 11px;
	padding-left: 2px;
	vertical-align: middle;
	width: 650px;
}

#content {
/*	background: transparent; */
/*	background: url('images/bottom_v6.jpg') repeat-y top center;  */
/*	background: transparent url('images/bottom_v6.jpg') repeat-y top center; */
/*	background: transparent url('images/bottom_v2.jpg') repeat-y top center; */
	background: #ffffff;
	border: none;
	color: #000000;
	float: left;
/*	left: 1px; */
	margin: 0;
	padding: 10px 30px 20px 30px;
	text-align: left;
	width: 708px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
/*	border-top: 1px solid #bbbbbb; */
	border-bottom: 1px solid #999999; 
}

#content a:hover {
	text-decoration: underline;
}

#content img {
	margin: 5px 5px 5px 10px;
	border: 0px solid #e0e0d0;
}

#email, #author {
	background: #ffffff;
	border: 1px solid #e9e9d9;
	color: #595949;
	font-size: 11px;
	padding-left: 2px;
	vertical-align: middle;
}

#footer {
/*	background: url(images/bottom_v2.jpg) no-repeat bottom center; */
/*	background: transparent url(images/bottom_v2.jpg) no-repeat bottom center; */
	clear: both;
	color: #808979;
	font-size: 10px;
	height: 10px;
	margin: 0;
	padding: 30px 10px 10px 45px;
}

#header {
	background: transparent;
	color: #a0a999;
	float: left;
	font-size: 11px;
	height: 110px;
	margin: 0;
	padding: 8px 30px 0 7px;
	text-align: right;
	width: 695px;
}

#header a {
	color: #990000;
}

#header img {
	border: none;
}

#s {
	background: #ffffff;
	border: 1px solid #e0e0d0;
	color: #595949;
	font-size: 11px;
	height: 15px;
	padding-left: 2px;
	vertical-align: middle;
	width: 115px;
}

#wholeside {
	background: transparent;
	border: none;
	color: #443;
	float: left;
	font-size: 12px;
	margin: 0;
	padding: 0px 30px 0px 30px;
	text-align: left;
	width: 280px;
}

/* sidebar content */

#sidebar {
	background: transparent;
	border: none;
	color: #332;
	float: left;
	font-size: 11px;
	margin: 0;
	padding: 0px 0px 0px 30px;
	text-align: left;
	width: 130px;
}

#sidebar2 {
	background: transparent;
	border: none;
	color: #332;
	float: right;
	font-size: 11px;
	margin: 0;
	padding: 0px 10px 0px 0px;
	text-align: right;
	width: 140px;
}

#sidebar a {
	color: #444433;
	text-decoration: none;
}

#sidebar2 a {
	color: #444433;
	text-decoration: none;
}

#sidebar a:hover {
	color: #002266;
	text-decoration: underline;
}

#sidebar2 a:hover {
	color: #002266;
	text-decoration: underline;
}

#sidebar h1 a {
	color: #002266;
	font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Arial, 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}

#sidebar h2 {
/*	color: #002266; */
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 0px 0 10px 0;
	padding: 0;
}

#sidebar2 h2 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 0px 0 5px 0;
	padding: 0;
}

#sidebar2 h3a {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 0px 0 10px 0;
	padding: 0;
}
#sidebar2 h3 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 20px 0 5px 0;
	padding: 0;
}

#sidebar li {
	line-height: 1.5em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar2 li {
	line-height: 1.5em;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
}

#sidebar ul {
	line-height: 1.5em;
	list-style-type: none;
	margin: 0 0 20px 7px;
	padding: 0;
}

#sidebar2 ul {
	line-height: 1.5em;
	list-style-type: none;
	margin: 0 0 20px 20px;
	padding: 0;
}

#submit {
	background: #ffffff;
	border: 1px solid #e9e9d9;
	color: #595949;
	font-size: 11px;
	margin: 0;
	padding: 0 10px;
}

#today {
	background: #ffffff;
}

#top {
	background: transparent url('images/top_v2.jpg') no-repeat top center;
	height: 150px;
}

#url {
	background: #ffffff;
	border: 0px solid #e9e9d9;
	color: #595949;
	font-size: 11px;
	padding-left: 2px;
	vertical-align: middle;
}

#wrapper {
/*	background: url(images/bottom_v4.jpg) repeat-y top center; */
	float: left;
	margin: 0;
	padding: 0;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	margin-top: -1px;
	text-align: right;
}

.commentbody {
	color: #595949;
	font-size: 11px;
	margin: 0 0 10px 0;
	padding: 15px 15px 5px 15px;
	background: #f7f7f0;
	border: 1px solid #f0f0e0;
	position: relative;
}

.commentbody p {
	line-height: 1.2em;
}

.commentlink {
	font-size: 10px;
}

.commentlist {
	list-style: none;
}

.commentcount {
	position: absolute;
	right: 36px;
	top: 0;
	font-family: Georgia,sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #e0e0d0;
	float: right;
}

html[xmlns] .commentcount {
	position: absolute;
	right: 7px;
	top: 0;
}

.date {
	color: #808979;
	font: 11px trebuchet ms,verdana,arial,helvetica,sans-serif;
	letter-spacing: 0.09em;
	margin: 0;
	padding: 0 0 0 2px;
}

.navigation {
	font-size: 11px;
	padding: 40px 0 0 0;
}

.pagetitle {
	font-size: 11px;
	letter-spacing: 0.09em;
	text-align: right;
}

.postmetadata {
	color: #808979;
	font-size: 11px;
	letter-spacing: 0.09em;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: right;
}

.postmetadata a {
	color: #808979;
}

/* different postmetadata style for single.php */

.alt {
	line-height: 1.4em;
	padding: 0 0 15px 30px;
}

.alt a {
	color: #005577;
}
