<?xml version="1.0" encoding="utf-8" ?>
<appSetting>
	<shscriptfile>test.sh</shscriptfile>
	<NetEndPath>/home/chst01/VIDEO/video/h264/</NetEndPath>
	<NetStartPath>/home/chst01/VIDEO/video/1m/</NetStartPath>	
	<StartPath>/home/chst01/WMV_local/</StartPath>
	<EndPath>/home/chst01/H264_local/</EndPath>
</appSetting>
